*{
    margin :0;
    padding: 0px;
    align-items: center;
    box-sizing: border-box;
    outline: none;
}
.watch{
    justify-content: center;
    align-items: center;
    margin-left: 63px;
}
body{
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: medium;
    margin-top: 55px;
}
/*Outer Rectangle css */
.outer_rect{
    width: 900px;
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Inner Rectangle css */
.inner_rect{
    height: 230px;
    width: 880px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color:#FB8604;
    border-style: solid;
}
#button-click{
    width:870px;
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
}
/*Button CSS */
.button{
    height: 87px;
    width: 87px;
    background-color:#FB8604;;
    color: black;
    border: 2px #FB8604;
    border-radius: 50%;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}
.st{
    color: black;
    font-size: 43px;
    font-weight: bolder;
}
/*Individual CSS of clock*/
.hour{
    font-size: 106px;
    font-family: 'Times New Roman', Times, serif;
}
.hours{
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    color: #FB8604;
}
/*Individual CSS of clock*/
.minute{
    font-size: 106px;
    font-family: 'Times New Roman', Times, serif;
}
.minutes{
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    color: #FB8604;
}
/*Individual CSS of clock*/
.sec{
    font-size: 106px;
    font-family: 'Times New Roman', Times, serif;
}
.seconds{
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    color: #FB8604;
}
/*Individual CSS of clock*/
.msec{
    font-size: 106px;
    font-family: 'Times New Roman', Times, serif;
}
.millisec{
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    color: #FB8604;
}
.laps{
    color: white;
    list-style: none;
    height: 106px;
    padding: 30px 10px;
    overflow: auto;
    width: 450x;
    position: relative;
    height: 1;
}
/*Lap time css */
.lap-time{
    display: inline-block;
    text-align: center;
    border-radius: 55px;
    width: 100%;
    padding: 12px;
    border: 1px solid #FB8604;
    border-radius: 50px ;
    margin-bottom: 16px;
}
.lap::-webkit-scrollbar{
    display:none;
}
/*Lap Clear CSS property */
.lap-clear-button{
    position: fixed;
    display: block;
    z-index: 1000;
    width: 130px;
    bottom: 5px;
    padding: 10px 10px;
    left: 50%;
    transform: translate(-48%);
    background-color: wheat;
    border: 1px solid #FB8604;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.num{
    color: azure;
    font-size: large;
}
.time-stamp{
    display: inline-block;
    margin-left: 22px;
    font-size: large;
}
.button:hover{
    background-color: white;
    color :black;
}
/*Hiding the buttons */
.hide{
    visibility: hidden;
}
/*Border Animation*/
.animation{
    background: linear-gradient(-45deg, red, blue,#FF00FF,green,#00FF00, purple);
    background-size: 400% 400%;
    animation: gradient 9s ease infinite;
}
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

